.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-number{
  width: 150px;
  margin-right: 50px
}

.input-select{
  width: 250px;
  margin-right: 50px
}

.button-row{
  text-align: center;
}