<div class="preloader" *ngIf="isSpinnerVisible">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<form (ngSubmit)="processar()">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Algoritmo de busca</mat-card-title>
      <mat-form-field class="input-select">
        <mat-card-subtitle>Algoritmo Metaheurístico :</mat-card-subtitle>
        <select matNativeControl required [(ngModel)]="input.algoritm" required="true" name="algoritm">
          <option value="N">NSGA-II</option>
          <option value="M">MOCELL</option>
          <!-- <option value="P">PAES</option> 
          <option value="S">SPEA-II</option> -->
        </select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-card-title>Dados da Pesquisa</mat-card-title>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="33%">
          <label for="tarefas">Valores : </label><br />
          <input type="file" class="form-control" name="cost" (change)="onChangeCost($event)" placeholder="Cost">
          <div style="width: 100%;height: 150px;text-align: center;overflow: auto;">
            <table *ngIf="input.cost" style="width: 100%;height: 150px;text-align: center;overflow: auto;">
              <tr *ngFor="let thing of rows1; let i = index;">
                <td>{{rows1[i][0]}}</td>
                <td>{{rows1[i][1]}}</td>
                <td>{{rows1[i][2]}}</td>
              </tr>
            </table>
          </div>
          <!-- {{input.cost}} -->
        </div>
        <div fxFlex.gt-sm="33%">
          <label for="dependencia">Dependencias : </label><br />
          <input type="file" class="form-control" name="dependencia" (change)="onChangeDependencia($event)"
            placeholder="Dependencia">
          <div style="width: 100%;height: 150px;text-align: center;overflow: auto;">
            <table *ngIf="input.cost" style="width: 100%;height: 150px;text-align: center;overflow: auto;">
              <tr *ngFor="let thing of rows2; let i = index;">
                <td>{{rows2[i][0]}}</td>
                <td>{{rows2[i][1]}}</td>
                <td>{{rows2[i][2]}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div fxFlex.gt-sm="33%">
          <label for="prioridade">Prioridades : </label><br />
          <input type="file" class="form-control" name="prioridade" (change)="onChangePrioridade($event)"
            placeholder="Prioridade">
          <div style="width: 100%;height: 150px;text-align: center;overflow: auto;">
            <table *ngIf="input.cost" style="width: 100%;height: 150px;text-align: center;overflow: auto;">
              <tr *ngFor="let thing of rows3; let i = index;">
                <td>{{rows3[i][0]}}</td>
                <td>{{rows3[i][1]}}</td>
                <td>{{rows3[i][2]}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="input-number">
            <input matInput placeholder="Custo minimo" type="number" [(ngModel)]="input.filtro.minCost" name="minCost">
          </mat-form-field>
          <mat-form-field class="input-number">
            <input matInput placeholder="Custo máximo" type="number" [(ngModel)]="input.filtro.maxCost" name="maxCost">
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="input-number">
            <input matInput placeholder="Valor minimo" type="number" [(ngModel)]="input.filtro.minVal" name="minVal">
          </mat-form-field>
          <mat-form-field class="input-number">
            <input matInput placeholder="Valor máximo" type="number" [(ngModel)]="input.filtro.maxVal" name="maxVal">
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="input-number">
            <input matInput placeholder="Risco minimo" type="number" [(ngModel)]="input.filtro.minRisk" name="minRisk">
          </mat-form-field>
          <mat-form-field class="input-number">
            <input matInput placeholder="Risco máximo" type="number" [(ngModel)]="input.filtro.maxRisk" name="maxRisk">
          </mat-form-field>
        </div>
      </div> -->
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" class="btn btn-default">Processar</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-card-title>Configurações</mat-card-title>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="25%" fxFlex.gt-xs="25%">
          <mat-form-field class="input-number">
            <input matInput placeholder="Tamanho da população" type="number"
              [(ngModel)]="input.configuration.populationSize" name="populationSize" />
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="25%" fxFlex.gt-xs="25%">
          <mat-form-field class="input-number">
            <input matInput placeholder="Maximo de Evoluções" type="number"
              [(ngModel)]="input.configuration.maxEvaluations" name="maxEvaluations" />
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="25%" fxFlex.gt-xs="25%">
          <mat-form-field class="input-number">
            <input matInput placeholder="FeedBack" type="number" [(ngModel)]="input.configuration.feedBack"
              name="feedBack" />
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="25%" fxFlex.gt-xs="25%">
          <mat-form-field class="input-number">
            <input matInput placeholder="Probabilidade Mutação" type="number"
              [(ngModel)]="input.configuration.probabilityMut" name="probabilityMut" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <mat-form-field class="input-number">
          <input matInput placeholder="Distribuição Index" type="number"
            [(ngModel)]="input.configuration.distributionIndex" name="distributionIndex" />
        </mat-form-field>
        <mat-form-field class="input-select">
          <mat-card-subtitle>Taxa Mutação :</mat-card-subtitle>
          <select matNativeControl [(ngModel)]="input.configuration.mutation" required name="mutation">
            <option value="BitFlipMutation">BitFlipMutation</option>
          </select>
        </mat-form-field>
        <mat-form-field class="input-select">
          <mat-card-subtitle>Seleção :</mat-card-subtitle>
          <select matNativeControl [(ngModel)]="input.configuration.selection" required name="selection">
            <option value="BinaryTournament">BinaryTournament</option>
          </select>
        </mat-form-field>
        <mat-form-field class="input-select">
          <mat-card-subtitle>Crossover :</mat-card-subtitle>
          <select matNativeControl [(ngModel)]="input.configuration.crossover" required name="crossover">
            <option value="SinglePointCrossover">SinglePointCrossover</option>
          </select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</form>