.demo-chip-list {
  width: 100%;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-number{
  width: 150px;
  margin-right: 50px
}

.input-select{
  width: 250px;
  margin-right: 50px
}

.button-row{
  text-align: center;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  .ngx-datatable {
    height: 40vh;
    width: 100%;
  }
}