<mat-card>
  <mat-card-content>
    <mat-card-title>Resultados</mat-card-title>
    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%">
        <div>
          Algoritmo : {{output.algoritmo}}<br>
          Soluções encontrado: {{output.numSolucoes}}<br>
          Tempo de execussão : {{output.executionTime}} ms<br>
          <span *ngIf="output.solucao.objetivos">
            Requisitos: {{output.solucao.conjunto}}<br>
            Custo: {{output.solucao.objetivos===undefined?'':output.solucao.objetivos[0]}}<br>
            Valor: {{output.solucao.objetivos===undefined?'':output.solucao.objetivos[1]}}<br>
            Risco: {{output.solucao.objetivos===undefined?'':output.solucao.objetivos[2]}}<br>
          </span>
        </div>
      </div>
      <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%">
        <div *ngIf="render">
          Algoritmo : {{outputComp.algoritmo}}<br>
          Soluções encontrado: {{outputComp.numSolucoes}}<br>
          Tempo de execussão : {{outputComp.executionTime}} ms <br>
          Requisitos: {{outputComp===undefined?'':outputComp.solucao.conjunto}}<br>
          Custo: {{outputComp===undefined?'':outputComp.solucao.objetivos[0]}}<br>
          Valor: {{outputComp===undefined?'':outputComp.solucao.objetivos[1]}}<br>
          Risco: {{outputComp===undefined?'':outputComp.solucao.objetivos[2]}}<br>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutWrap="center" style="text-align: center; align-content: center;">
      <button mat-raised-button color="primary" class="btn btn-default" (click)="comparar()"
        style="margin-left: 45%">Comparar</button>&nbsp;
      <button mat-raised-button color="primary" class="btn btn-default" (click)="novo()">Nova</button>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Grafico de Solucoes">
        <mat-card-content>
          <!-- <google-chart [data]="scatterChartData" (chartSelect)='selectChart($event)'
                  (mouseOver)="mouseOver($event, this)"></google-chart> -->

          <ngx-charts-bubble-chart [view]="view" [scheme]="colorScheme" [results]="multi" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="true" [showYAxisLabel]="true" [autoScale]="true"
            [minRadius]="5" [maxRadius]="10" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)" (mouseOver)="mouseOver($event)" *ngIf="dataTable">
          </ngx-charts-bubble-chart>

        </mat-card-content>
      </mat-tab>
      <mat-tab label="Tabela">
        <mat-card-content>
          <div *ngIf="dataTable">
            <ngx-datatable class="material" [rows]="rows" [columns]="[{name:'Custo'},{name:'Valor'},{name:'Risco'}]"
              [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true"
              [scrollbarH]="false" [sortType]="'multi'" (select)='selectable($event)' [selected]="selected"
              [selectionType]="'single'" [sorts]="[{prop: 'custo', dir: 'asc'}]">
            </ngx-datatable>
          </div>
          <div *ngIf="!dataTable">
            Não possui dados carregados para a tabela.
          </div>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
    <form (ngSubmit)="filtrar()" stnpm yle="text-align: center; align-content: center; ">
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="input-number">
            <input matInput placeholder="Custo minimo" type="number" [(ngModel)]="minCost" name="minCost">
          </mat-form-field>
          <mat-form-field class="input-number">
            <input matInput placeholder="Custo máximo" type="number" [(ngModel)]="maxCost" name="maxCost">
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="input-number">
            <input matInput placeholder="Valor minimo" type="number" [(ngModel)]="minVal" name="minVal">
          </mat-form-field>
          <mat-form-field class="input-number">
            <input matInput placeholder="Valor máximo" type="number" [(ngModel)]="maxVal" name="maxVal">
          </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
          <mat-form-field class="input-number">
            <input matInput placeholder="Risco minimo" type="number" [(ngModel)]="minRisk" name="minRisk">
          </mat-form-field>
          <mat-form-field class="input-number">
            <input matInput placeholder="Risco máximo" type="number" [(ngModel)]="maxRisk" name="maxRisk">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutWrap="center" style="text-align: center; align-content: center;">
        <button mat-raised-button color="primary" type="submit" class="btn btn-default"
          style="display: block">Filtrar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>